
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<h6>Welcome to Student Directory.com</h6>
<p>This is a website where students check the diretory of their friends.</p>